@model PagedList.IPagedList<FormBuilderApp.Models.ApplicationUser>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

@using (Html.BeginForm("Users", "Admin", FormMethod.Get))
{
    <p style="float: right">
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

@if (ViewContext.HttpContext.User.IsInRole("Super Admin"))
{
    <p>
        @Html.ActionLink("Add User", "CreateUser")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Email", "Users", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Username", "Users", new { sortOrder = ViewBag.UsernameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        </th>
        <th>Options</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @if (ViewContext.HttpContext.User.IsInRole("Super Admin"))
            {
                @Html.ActionLink("Edit Role", "AssignRole", new { id = item.Id }) <text>|</text>
            }
            @Html.ActionLink("Details", "Details", new { id=item.Id }) 
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Users",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))